@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  
  --color-leaf-50: #f0fdf4;
  --color-leaf-100: #dcfce7;
  --color-leaf-500: #22c55e;
  --color-leaf-600: #16a34a;
  --color-leaf-700: #15803d;
  --color-leaf-900: #14532d;
  --color-primary: #16a34a;
  --color-secondary: #1e293b;
}
